config REPO_VERSION_STRING
    string "Repository semver-compatible version string"

config REPO_VERSION_MAJOR
    int "Repository semver-compatible major version number"

config REPO_VERSION_MINOR
    int "Repository semver-compatible minor version number"

config REPO_VERSION_PATCH
    int "Repository semver-compatible patch version number"

config DAP_TCP_PORT
    int "Binding port for Dap driver TCP socket transport"
    default 30047

config IO_TCP_PORT
    int "Binding port for IO driver TCP socket transport"
    default 30059

config VCP_TCP_PORT
    int "Binding port for Virtual COM Port driver TCP socket transport"
    default 30071

config PRODUCT_MANUFACTURER
    string "Name of the product manufacturer"
    default "Nick Kraus"

config PRODUCT_DESCRIPTOR
    string "Short descriptor of the product"
    default "RICEProbe IO CMSIS-DAP"

config PRODUCT_SERIAL_FORMAT
    string "Defines the format and length of the product serial number"
    default "MMMM-YYWWNNNNNNC"

# USB descriptor values should inherit from the project descriptors
if USB_DEVICE_STACK

config USB_DEVICE_MANUFACTURER
    default PRODUCT_MANUFACTURER

config USB_DEVICE_PRODUCT
    default PRODUCT_DESCRIPTOR

config USB_DEVICE_SN
    default PRODUCT_SERIAL_FORMAT

endif # USB_DEVICE_STACK

module = DAP
module-str = dap
source "subsys/logging/Kconfig.template.log_config"

module = IO
module-str = io
source "subsys/logging/Kconfig.template.log_config"

module = VCP
module-str = vcp
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
