config REPO_VERSION_STRING
    string "Repository semver-compatible version string"

config REPO_VERSION_MAJOR
    int "Repository semver-compatible major version number"

config REPO_VERSION_MINOR
    int "Repository semver-compatible minor version number"

config REPO_VERSION_PATCH
    int "Repository semver-compatible patch version number"

module = DAP
module-str = dap
source "subsys/logging/Kconfig.template.log_config"

module = IO
module-str = io
source "subsys/logging/Kconfig.template.log_config"

module = VCP
module-str = vcp
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
